.left-nav-list{
    display: grid;
    grid-template-rows: 10vh;
    grid-auto-rows: 45px;
    height: auto;
    gap: 5px;
}
.left-nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco-primario);
}
.left-nav-logo:first-child img{
    width: 50%;
    height: auto;
}
.left-nav-item a{
    height: 100%;
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 6px;
    transition: all 150ms ease-in-out;
}
.left-nav-item a:hover{
    background-color: var(--rojo-secundario);
}

.left-nav-item svg{
    margin-left: 10px;
    width: 35px;
    height: 35px;
}