.vehicle-card{
    background-color: var(--blanco-primario);
    width: 33vh;
    height: 48vh;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    transition: all 150ms ease-in-out;
}
.vehicle-card:hover{
    box-shadow: 5px 5px 10px var(--rojo-primario);
    scale: 1.05;
}
.vehicle-card-image{
    width: 100%;
    height: 50%;
    background-color: var(--azul-primario);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
}
.vehicle-card-image img{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.vehicle-card-model{
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    z-index: 5;
    border: 2px;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 4px var(--blanco-primario);
}
.vehicle-card-brand{
    background-color: var(--azul-primario);
    color: var(--blanco-primario);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    border-top: 3px solid var(--rojo-primario);
}
.vehicle-card-brand p{
    margin: 0px 8px;
}
.vehicle-card-button{
    bottom: 0;
    background-color: var(--rojo-primario);
    color: var(--blanco-primario);
    padding: 6px;
    margin: 8px;
    border-radius: 5px;
    transition: all 150ms ease-in-out;
}
.vehicle-card-button:hover{
    background-color: var(--azul-primario);
}
.button-left{
    position: absolute;
    left: 0;
}
.button-right{
    position: absolute;
    right: 0;
}