body{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, ul, li, p{
    margin: 0;
    padding: 0;
}
ul, li{
    list-style: none;   
}
a {
    color: inherit; /* Esto hereda el color del texto de su elemento padre */
    text-decoration: none; /* Esto elimina el subrayado predeterminado de los enlaces */
  }
  
  /* Si deseas cambiar el color a algo específico, puedes hacer lo siguiente: */
  a {
    color: white; /* Cambia #ff0000 al color que desees */
    text-decoration: none;
  }
button{
    border: none;
    background-color: transparent;
}
input{
    border: none;
}
input:focus{
    outline: none;
}
select {
    appearance: none;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
}
form{
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    width: 100%;
    height: 100%;
}