.home{
    display: grid;
    grid-template-columns: minmax(150px, 200px);
    grid-template-rows: 10vh;
    min-height: 100vh;
    grid-template-areas: 
    "left-nav top-nav top-nav"
    "left-nav list list"
    "left-nav list list"
    ;
}
.top-nav-container{
    grid-area: top-nav;
    background-color: var(--rojo-primario);
    padding: 0px 20px;
}
.left-nav-container{
    grid-area: left-nav;
    display: grid;
    background-color: var(--azul-primario);
}
.list-container{
    padding: 20px;
    grid-area: list;
    background-color: var(--blanco-secundario);
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(250px, 1fr));
    gap: 15px;
}
.button-left{
    position: absolute;
    border-radius: 0px 1px 20px 0px;
    left: 0;
}
.button-right{
    position: absolute;
    border-radius: 0px 0px 0px 20px;
    right: 0;
}