:root{
    /* Neutros */

    /* Blancos */
    --blanco-primario: #ffffff;
    --blanco-secundario: #dbdbdb;

    /* Negros */


    /* Azules */
    --azul-primario: #293963;
    --azul-secundario: #294C63;
    --azul-terciario: #2B2963;
    /*  Rojos */
    --rojo-primario: #CA4348;
    --rojo-secundario: #C95942;
    --rojo-terciario: #C97042;

    /* Tamaño de Fuente */

    
}